$blue_0 : rgba(0,223,250,0.99);
$blue_1 : rgba(0,180,203,0.99);
$blue_2 : rgba(0,140,157,0.99);
$blue_3 : rgba(0,95,106,0.99);
$grey_0 : rgba(52,56,56,1);

.flexbox{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  //height: 150px;
  //padding: 10px;
  //margin: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  color: aliceblue;
}

.motion_area {
  position: relative;
  width: 100%;
  height: 100vh;
  //top: 100%
  //left: 45%;
  //margin-top: 5%;

}

.motion_content {
  position: absolute;
  //top: 0;
  //left: 0;
  width: 900px;
  height: 900px;

  div {
    position: absolute;
    top: 0;
    left: 0;
  }
}

// content color

.motion-type-2{
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(0,140,157,0.49);
  padding: 0;
  margin: 0;


  div {
    position: absolute;
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;

    transform: scale(10);

    &:nth-child(1) {
      background: $blue_1;
    }
    &:nth-child(2) {
      background: $blue_3;
    }
    &:nth-child(3) {
      background: $grey_0;
    }
    p {
      padding-top: 72px;
    }
  }
}

.motion-type-1 div {
  transform: scale(0);
  width: 900px;
  height: 900px;
  &:nth-child(1) {
    background: $blue_1;
  }
  &:nth-child(2) {
    background: $blue_3;
  }
  &:nth-child(3) {
    background: $grey_0;
    width: 900px;
    height: 900px;
  }
}

// time line

.motion-type-1 {
  div:nth-child(1) {
    animation:
            scale 1.2s ease 0.5s forwards ,
            scale_width 1.5s ease 1.5s forwards,
            scale_height 1.5s ease 2.5s forwards,
            baybay 0.01s ease 8s forwards;



  }
  div:nth-child(2) {
    animation:
            scale_1 1.3s ease 0.7s forwards,
            scale_gucha_2 4.5s ease 2.8s forwards,
            baybay 0.01s ease 8s forwards;


  }

  div:nth-child(3) {
    animation:
            scale_2 1s ease 0.9s forwards,
            scale_gucha 4.5s ease 2.8s forwards,
            baybay 0.01s ease 8s forwards;

  }
}

.motion-type-2 {
  div:nth-child(1) {
    animation:
            view_content_2 9s ease 8s forwards,
            tiisaku 2s ease 8.01s forwards,
            move_1 2s ease 8.5s forwards,
            move_2 1.5s ease 10.7s forwards;
  }
  div:nth-child(2) {
    animation:
            view_content_2 9s ease 8s forwards,
            tiisaku 2s ease 8.01s forwards,
            move_2 2s ease 8.5s forwards,
            move_1 1.5s ease 10.7s forwards;

  }
  div:nth-child(3) {
    animation:
            view_content_2 9s ease 8s forwards,
            tiisaku 2s ease 8.01s forwards,
            move_3 2s ease 8.5s forwards;
  }

}

// keyframe

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scale_1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(0.9);
  }
}
@keyframes scale_2 {
  0% {transform: scale(0);}
  //10%{transform: scale(0.1) rotateZ(90deg);}
  //20%{transform: scale(0.2);}
  //30%{transform: scale(0.3) rotateX(90deg);}
  //40%{transform: scale(0.4);}
  //50%{transform: rotateZ(-90deg);}
  //60%{transform: scale(0.6);}
  //70%{transform: scale(0.7) rotateX(90deg);}
  //80%{transform: scale(0.9);}
  //90%{transform: rotateZ(-90deg);}
  100%{transform: scale(0.8) rotateZ(45deg);
  }
}

@keyframes scale_width {
  from {
    transform: scaleX(1);

  }
  to {
    transform: scaleX(3);
    background: $blue_0;
  }
}
@keyframes scale_height {
  from {
    transform: scaleY(1) scaleX(3);

  }
  to {
    transform: scaleY(2) scaleX(3);
    background: $blue_1;
  }
}

@keyframes scale_gucha {
  //from {
  //  transform: rotateZ(45deg) scale(0.8) ;
  //
  //}
  //to {
  //  transform: rotateZ(45deg) scale(6);
  //}

  0% {transform: rotateZ(45deg) scale(0.8);}

  10%{transform: scale(0.1) rotateZ(90deg);}
  20%{transform: scale(0.2);}
  30%{transform: scale(0.3) rotateX(90deg);}
  40%{transform: scale(0.4);}
  50%{transform: rotateZ(-90deg);}
  60%{transform: scale(0.6);}
  70%{transform: scale(0.7) rotateX(90deg);}
  80%{transform: scale(0.9);}
  90%{transform: rotateZ(-90deg);}
  100%{transform: rotateZ(45deg) scale(6);}
}

@keyframes scale_gucha_2 {
  0% {transform: rotateZ(45deg) scale(0.9);}

  10%{transform: scale(1.2) rotateY(45deg);}
  20%{transform: scale(1);}
  30%{transform: scale(0.9) rotateX(75deg);}
  40%{transform: scale(0.8);}
  50%{transform: rotateZ(90deg);}
  60%{transform: scale(0.5) rotateX(45deg);}
  70%{transform: scale(0.7) rotateX(45deg);}
  80%{transform: scale(1);}
  90%{transform: scale(1.5) rotateZ(90deg);}
  100%{transform: rotateZ(-45deg) scale(1);}
}

@keyframes baybay {
  from {
    transform: scale(6);
  }
  to {
    transform: scale(0);
  }
}

@keyframes view_content_2 {
  from {
    display: none;
  }
  to {
    display: flex;
  }
  
}
@keyframes move_1 {
  from {
    margin-top:0;
  }
  to {
    margin-top: -240px;
  }
}
@keyframes move_2 {
  from {
    margin-top:0;

  }
  to {
    margin-top: 240px;

  }
}

@keyframes move_3 {
  from {
    padding-top:0;
  }
  to {
    padding-top: 0;
  }
}

@keyframes tiisaku {
  from{
    transform: scale(10);
  }
  to{
    transform: scale(1);
  }
}
@keyframes hurueru {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(2px, 2px) rotateZ(1deg)}
  50% {transform: translate(0px, 2px) rotateZ(0deg)}
  75% {transform: translate(2px, 0px) rotateZ(-1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}